* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(235, 235, 235);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mt-10 {
  margin-top: 10rem;
}
.mt-3 {
  margin: 2rem 0;
}
.Button {
  color: rgb(156, 63, 63);
}
a {
  text-decoration: none;
  color: rgb(80, 80, 80);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mr-1 {
  margin-right: 1rem;
}
.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 2%;
  width: 100%;
  padding: 0.6rem;
  margin-right: 1rem;
}
.card {
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 10px #ccc;
  min-width: 300px;
}

.card h2 {
  text-align: center;
  font-size: 65px;
  font-weight: bold;
}

.section {
  margin: 2rem 0;
}
.section h4 {
  color: #7e7e7e;
  font-size: 16px;
  font-weight: 600;
}
